.hero-slide {
  height: 90vh;
  display: flex;
  align-items: center;
  padding: 0 6vw;
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
}

/* Mobile */
@media (max-width: 768px) {
  .hero-slide {
    height: 60vh;
    padding: 0 20px;
    background-position: center;
  }

  .hero-slide h1 {
    font-size: 25px;
  }

  .hero-slide h2 {
    font-size: 27px;
  }

  .hero-slide p {
    font-size: 14px;
  }
}

/* Move pagination to bottom-left */
.hero-swiper .swiper-pagination {
  text-align: left;
  padding-left: 75px;
  bottom: 40px !important;
}

/* Default dot */
.hero-swiper .swiper-pagination-bullet {
  background: #d1d5db; /* gray-300 */
  opacity: 1;
  width: 15px;
  height: 15px;
  margin: 0 6px !important;
}

/* Active dot */
.hero-swiper .swiper-pagination-bullet-active {
  background: #ef4444; /* red-500 */
}

/* ===== Tablet ===== */
@media (max-width: 1024px) {
  .hero-swiper .swiper-pagination {
    padding-left: 50px;
    bottom: 30px !important;
  }

  .hero-swiper .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }
}


/* ===== Mobile ===== */
@media (max-width: 768px) {
  .hero-swiper .swiper-pagination {

    padding-left: 18px;
    bottom: 35% !important;
  }

  .hero-swiper .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 4px !important;
  }
}